<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1>{% block title %}Modal title{% endblock %}</h1>
</head>
<body>
    <div class="row">
      <div class="col-md-7">{% block fields %}fields here {% endblock %}</div>
      <div class="col-md-5">
          {% block buttons %} {% endblock %}
      </div>
    </div>
    <div class="row">
      <div class="col-*-*"></div>
      <div class="col-*-*"></div>
      <div class="col-*-*"></div>
    </div>
    <div class="row">
        {% block instruments %}
        {% endblock %}
    </div>
    <div>
        {% block calibration_history %}{% endblock %}
    </div>
</body>
</html>