{% extends "detail_base.html" %}

{% block title %}Instrument Details{% endblock %}

{% block fields %}
    <p>
        model #: <a href='{% url 'model-details' model.pk %}'>{{model.model_number}}</a>
        <br>serial #: {{instrument.serial_number}}
        <br>comment(optional): {{instrument.comment}}
    </p>
{% endblock %}


{% block buttons %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recordModal">
      Record Calibration
    </button>

    <!-- Modal -->
    <div class="modal fade" id="recordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Record Calibration Event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <form action="" method="post">
                {% csrf_token %}
                {{ cal_form }}
                  <input type="hidden" name="instrument" value={{ instrument.pk }} />
                  <input type="hidden" name="user" value={{ user }} />
                <input type="submit" value="Submit">
              </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal">
      Edit
    </button>

    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit Instrument Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <form action="{% url 'edit-instrument' pk=instrument.pk serial=instrument.serial_number %}" method="post">
                {% csrf_token %}
                {{ edit_form }}
{#                  <input type="hidden" name="serial_number" value={{ instrument.serial_number }} />#}
                <input type="submit" value="Submit">
              </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">
      Delete
    </button>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Would you like to delete this instrument?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <button type="button" onclick="window.location.href='../del-inst/{{ instrument.pk }}';" class="btn btn-primary" >
                  Yes
              </button>
              <button type="button" data-dismiss="modal" class="btn btn-primary" >
                  No
              </button>
          </div>
        </div>
      </div>
    </div>

    <button type="button" onclick="window.location.href='../pdf/{{ instrument.pk }}';" class="btn btn-primary" >
        Download Calibration Certificate
    </button>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


{% endblock %}


{% block calibration_history %}
    <table>
    <tr>
        <th>date</th>
        <th>user</th>
        <th>comment</th>
    </tr>
    {% for calibration in calibrations %}
        <tr>
            <td>{{ calibration.date }}</td>
            <td>{{ calibration.user }}</td>
            <td>{{ calibration.comment }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}