{% extends "detail_base.html" %}

{% block title %}Instrument Details{% endblock %}

{% block fields %}
    <p>
        model #: <a href='{% url 'model-details' model.pk %}'>{{model.model_number}}</a>
        <br>serial #: {{instrument.serial_number}}
        <br>comment(optional): {{instrument.comment}}
    </p>
{% endblock %}

{% block buttons %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Record Calibration
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Record Calibration Event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                  <input type="hidden" name="instrument" value={{ instrument.pk }} />
                  <input type="hidden" name="user" value={{ user }} />
                <input type="submit" value="Submit">
              </form>
          </div>
        </div>
      </div>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <button type="button" onclick="window.location.href='../pdf/';" class="btn btn-primary" >
        Download Calibration Certificate
    </button>
{% endblock %}

{#{% block calibration_history %}#}
{#    <li>{{ instrument.calibration_history }}</li>#}
{#{% for entry in calibration_history %}#}
{#    {{entry}}#}
{#{% endfor %}#}
{#{% endblock %}#}

{% block calibration_history %}
    <table>
    <tr>
        <th>serial #</th>
        <th>model</th>
        <th>vendor</th>
        <th>comment</th>
    </tr>
    {% for instrument in instruments %}
        <tr>
            <td><a href='{% url 'instrument-details' instrument.serial_number %}'>{{ instrument.serial_number }}</a></td>
            <td>{{ instrument.model.model_number }}</td>
            <td>{{ instrument.model.vendor }}</td>
            <td>{{ instrument.comment }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}