{% extends "detail_base.html" %}

{% block title %}Instrument {{model.pk }}{% endblock %}

{% block fields %}
    <p>
        model #: {{model.model_number}}
        <br>description: {{model.description}}
        <br>calibration frequency: {{model.calibration_frequency}}
        <br>comment(optional): {{model.comment}}
        <br>vendor: {{model.vendor}}
    </p>
{% endblock %}

{% block instrument_fields %}
{{ instrument.comment }}
{% endblock %}

{% block buttons %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                  <input type="hidden" name="instrument" value={{ instrument.pk }} />
                <input type="submit" value="Submit">
              </form>
{#              <h1>{{ model.model_number }},{{ instrument.serial_number }}</h1>#}
{##}
{#            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}#}
{##}
{#            <label for="start">Date of Calibration:</label>#}
{##}
{#            <input type="date" id="calibration" name="calibration-date">#}
{#            <p>user</p>#}
{#            <textarea rows="4" cols="50" name="comment" form="comment">Comment ...</textarea>#}
          </div>
        </div>
      </div>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <button type="button" onclick="window.location.href='../pdf/';" class="btn btn-primary" >
        Download Calibration Certificate
    </button>
{% endblock %}

{% block calibration_history %}
    <li>ydsdf</li>
    <li>{{ instrument.calibration_history }}</li>
{% for entry in calibration_history %}
    <li>here</li>
{% endfor %}
{% endblock %}