<!DOCTYPE html>
<head>
<title> Create User</title>
</head>
<body>
    <center>
        <h1>Create User</h1>
        <form method="POST">
            {% csrf_token %}
        <table border="1">
            <tr>
                <td>Username</td>
                <td><input type="text" placeholder="required" name="username"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" placeholder="required" name="name"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" placeholder="required" name="email"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" placeholder="required" name="password"></td>
            </tr>
        </table>
        <input type="submit" value = "Insert">
        </form>
        <button onclick="window.location.href='/tempMainPage/';">
          Return to Model/Instrument View
        </button>
        <br></br>
        {{ intro_phrase }}
        <br></br>
        {{ username }}
        <br></br>
        {{ name }}
        <br></br>
        {{ email }}
    </center>
</body>
</html>