<!DOCTYPE html>
<head>
<title> Create Model</title>
</head>
<body>
    <center>
        <h1>Create Model</h1>
        <form method="POST">
            {% csrf_token %}
                {% block content %}
                    <td>Vendor</td>
                    <input type="text" list="citylist" Placeholder="required" class="form-control" style="width:200px;" name = "vendor">
                    <datalist id="citylist">
                 {% for results in availableVendors %}
                        <option value="{{ results }}">
                 {% endfor %}
                    </datalist>
                {% endblock %}
        <br></br>
                <td>Model Number</td>
                <td><input type="text" placeholder="required" name="model_number"></td>
        <br></br>
                <td>Description</td>
                <td><input type="text" placeholder="required" name="description"></td>
        <br></br>
                <td>Comment</td>
                <td><input type="text" placeholder="optional" name="comment"></td>
        <br></br>
                <td>Calibration Frequency</td>
                <td><input type="text" placeholder="optional (integer)" name="calibration_frequency"></td>
        <br></br>
        <input type="submit" value = "Insert">
        </form>
        <button onclick="window.location.href='/model/';">
          Return to Model/Instrument View
        </button>
        <br></br>
        {{ intro_phrase }}
        <br></br>
        {{ vendor }}
        <br></br>
        {{ model_number }}
        <br></br>
        {{ description }}
        <br></br>
        {{ comment }}
        <br></br>
        {{ calibration_frequency }}

    </center>
</body>
</html>