<!DOCTYPE html>
<head>
<title> Create Instrument</title>
</head>
<body>
    <center>
        <h1>Create Instrument</h1>
        <form method="POST">
            {% csrf_token %}
        <table border="1">
            <tr>
                <td>Vendor</td>
                <td><input type="text" placeholder="required (integer)" name="serial_number"></td>
            </tr>
            <tr>
                <td>Model Number</td>
                <td><input type="text" placeholder="required (integer)" name="model"></td>
            </tr>
            <tr>
                <td>Serial Number</td>
                <td><input type="text" placeholder="required (integer)" name="serial_number"></td>
            </tr>
            <tr>
                <td>Comment</td>
                <td><input type="text" placeholder="optional" name="comment"></td>
            </tr>
        </table>
        <input type="submit" value = "Insert">
        </form>
        <button onclick="window.location.href='/model/';">
          Return to Model/Instrument View
        </button>
        <br></br>
        {{ intro_phrase }}
        <br></br>
        {{ serial_number }}
        <br></br>
        {{ model }}
        <br></br>
        {{ comment }}
    </center>
</body>
</html>