<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import/Export</title>

</head>
<body>
    <div>
        <a class="navbar-brand" href="/model/">Models</a>
        <a class="navbar-brand" href="/instrument/">Instruments</a>
        <a class="navbar-brand" href="https://docs.google.com/document/d/1xTRhutmXbHEn_LFVnQ_Py5HADdGXS0zzDqp6NOquBP0/edit?ts=602b9228">Import Export Documentation</a>
    </div>
    <div>

            <button class="btn btn-primary btn-lg" id="export_mod" onclick="window.location.href='?export=/export-models/';">Export Models</button>
            <button class="btn btn-primary btn-lg" id="export_instr" onclick="window.location.href='?export=/export-instruments/';">Export Instruments</button>
            <button class="btn btn-primary btn-lg" id="export_all" onclick="window.location.href='?export=/export/';">Export All</button>
<!--            <button class="btn btn-primary btn-lg" id="export_mod" onclick="window.location.href='export/';">Go To Export Page</button>-->

    </div>
    <div class="import-group">
        <form action = "" method = "POST" enctype="multipart/form-data">{% csrf_token %}
            <label for="impfile"></label>
            <input type="file" id="impfile" name="file" accept=".csv" name="Import File"  aria-label="Import" aria-describedby="basic-addon2" />
            <label for="import_type">Import Type:</label>
                <select name="import_type" id="import_type">
                    <option value="instruments">Instruments</option>
                    <option value="models">Models</option>
                </select>
            <button class="btn btn-primary" type="submit"> Submit <i class="fas fa-search"></i></button>
        </form>
    </div>
        {% if download_file != None %}
            <a download_file download>Download Exported File</a>
        {% endif %}
    <div>
        {{status}}
    </div>

</body>
</html>