<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Import/Export</title>

</head>
<body>
    <div>
        <a class="navbar-brand" href="/model/">Models</a>
        <a class="navbar-brand" href="/instrument/">Instruments</a>
    </div>
    <div>
        <button class="btn btn-primary btn-lg" id="export_mod" href="#">Export Models</button>
        <button class="btn btn-primary btn-lg" id="export_instr" href="#">Export Instruments</button>
        <button class="btn btn-primary btn-lg" id="export_all" href="#">Export All</button>
    </div>
    <div>
        <input class="form-control" type="file" name="Import File"  aria-label="Import" aria-describedby="basic-addon2" />
    </div>

</body>
</html>