<!DOCTYPE html>
{% load page_view_tags %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Models</title>
<!--        <link href="css/styles.css" rel="stylesheet" />-->
<!--        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />-->
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>-->
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/instrument/">Instruments</a>
            <button class="btn btn-primary btn-lg" id="c_user" onclick="window.location.href='/createuser/';">Create User</button>
            <button class="btn btn-primary btn-lg" id="c_model" onclick="window.location.href='/createmodel/';">Create Model</button>
            <button class="btn btn-primary btn-lg" id="imp_exp" onclick="window.location.href='/import_export/';">Bulk Import/Export</button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                </div>
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="sort-group">
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-footer">
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Model Page</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Model List: </li>
                        </ol>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Model List:
                            </div>
                            <button class="btn btn-primary btn-lg" id="button" onclick="window.location.href='/model/';">Back to Model Search</button>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <style>
                                        table {
                                            border-collapse: collapse;
                                        }

                                        table, td, th {
                                            border: 1px solid black;
                                        }
                                    </style>
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Vendor</th>
                                                <th>Model Number</th>
                                                <th>Description</th>
                                                <th>Comment</th>
                                                <th>Calibration Frequency</th>
                                                <th>Detailed View</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Vendor</th>
                                                <th>Model Number</th>
                                                <th>Description</th>
                                                <th>Comment</th>
                                                <th>Calibration Frequency</th>
                                                <th>Detailed View</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>

                                            {% for mod1 in modlist %}
                                            <tr>
                                                <td>{{mod1.1}}</td>
                                                <td>{{mod1.2}}</td>
                                                <td>{{mod1.3}}</td>
                                                <td>{{mod1.4}}</td>
                                                <td>{{mod1.5}}</td>
                                                <td><a href="/model-details/{{mod1.0}}">Detailed View</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
                  <div class="container p-4">
                  </div>
                <footer class="py-4 bg-light mt-auto">
                </footer>
            </div>
<!--        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>-->
<!--        <script src="js/scripts.js"></script>-->
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>-->
<!--        <script src="assets/demo/chart-area-demo.js"></script>-->
<!--        <script src="assets/demo/chart-bar-demo.js"></script>-->
<!--        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>-->
<!--        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>-->
<!--        <script src="assets/demo/datatables-demo.js"></script>-->
    </body>
</html>

